li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.btn {
  width:100%;

}
.holdme {
  padding:0 0 0 0;
}
.col-md-6{
  padding: 0 5px 0 0;
}
.btn-secondary{
  width:100px;
}